 
    body {
        font-family: Arial, sans-serif;
        text-align: center;
    }
    h1 {
        color: #000000;
    }
    input {
        padding: 5px;
        margin: 10px;
        border: 1px solid #817979;
        border-radius: 5px;
    }
    button {
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #ff0000;
        color: #555555;
        cursor: pointer;
    }
    button:hover {
        background-color: #ff0000;
    }
    p {
        margin: 10px;
        color: #ff0000;
    }

    .resultado{
        margin-top: 20px;
        font-weight: bold;
    }

    label{
        display: block;
        margin: 0;
    }